*.numbers
hub-central.log
*.log
.gradle/*
build.old/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/default.xqy
build.old/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/test-controller.xqy
build.old/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/test-coverage.xqy
build.old/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/test-helper.xqy
build.old/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/css/coverage.css
build.old/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/css/jquery.gritter.css
build.old/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/css/tests.css
build.old/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/formats/j-unit.xsl
build.old/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/img/arrow-down.gif
build.old/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/img/arrow-right.gif
build.old/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/img/gritter.png
build.old/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/img/icon-minus.png
build.old/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/img/icon-plus.png
build.old/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/img/ie-spacer.gif
build.old/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/img/spinner.gif
build.old/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/img/warning.png
build.old/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/js/jquery-1.6.2.min.js
build.old/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/js/jquery.gritter.min.js
build.old/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/js/tests.js
build.old/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/xslt/coverage/common.xsl
build.old/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/xslt/coverage/module/html.xsl
build.old/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/xslt/coverage/report/html.xsl
build.old/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/xslt/coverage/report/xml.xsl
build.old/mlBundle/marklogic-unit-test-modules/ml-modules/services/marklogic-unit-test.xqy
build.old/mlBundle/META-INF/MANIFEST.MF
build/classes/java/test/com/marklogic/hsk/patient/PatientTest.class
build/classes/java/test/com/marklogic/hsk/util/TestSearchCriteria.class
build/libs/healthcare-starter-kit.jar
build/ml-javaclient-util/claylocal-module-timestamps.properties
build/reports/tests/test/index.html
build/reports/tests/test/classes/com.marklogic.hsk.patient.PatientTest.html
build/reports/tests/test/css/base-style.css
build/reports/tests/test/css/style.css
build/reports/tests/test/js/report.js
build/reports/tests/test/packages/com.marklogic.hsk.patient.html
build/test-results/test/TEST-com.marklogic.hsk.patient.PatientTest.xml
build/test-results/test/binary/output.bin
build/test-results/test/binary/output.bin.idx
build/test-results/test/binary/results.bin
build/tmp/jar/MANIFEST.MF
build/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/default.xqy
build/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/test-controller.xqy
build/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/test-coverage.xqy
build/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/test-helper.xqy
build/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/css/coverage.css
build/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/css/jquery.gritter.css
build/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/css/tests.css
build/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/formats/j-unit.xsl
build/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/img/arrow-down.gif
build/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/img/arrow-right.gif
build/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/img/gritter.png
build/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/img/icon-minus.png
build/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/img/icon-plus.png
build/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/img/ie-spacer.gif
build/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/img/spinner.gif
build/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/img/warning.png
build/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/js/jquery-1.6.2.min.js
build/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/js/jquery.gritter.min.js
build/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/js/tests.js
build/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/xslt/coverage/common.xsl
build/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/xslt/coverage/module/html.xsl
build/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/xslt/coverage/report/html.xsl
build/mlBundle/marklogic-unit-test-modules/ml-modules/root/test/xslt/coverage/report/xml.xsl
build/mlBundle/marklogic-unit-test-modules/ml-modules/services/marklogic-unit-test.xqy
build/mlBundle/META-INF/MANIFEST.MF
build/classes/java/test/com/marklogic/hsk/claim/ClaimTest.class
build/reports/tests/test/classes/com.marklogic.hsk.claim.ClaimTest.html
build/reports/tests/test/packages/com.marklogic.hsk.claim.html
build/test-results/test/TEST-com.marklogic.hsk.claim.ClaimTest.xml
marklogic-data-hub-central-5.5.1.war
