*.numbers
hub-central.log
*.log

marklogic-data-hub-central-5.5.1.war

src/main/ml-data/ontologies/SNOMED-CT.ttl
*.hprof
.DS_Store
~*

local-module-timestamps.properties

**/.gradle
**/.settings
**/.tmp
**/bin
**/build

**/.classpath
**/.project

*.class
